body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 20px;
    border: 2px solid red;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 50px;
}

p {
    font-size: 12px;
    color: green;
    background-color: white;
    border-radius: 10px;
    border:2px solid red;
    padding: 10px;
    margin-bottom: 20px;
    
}

.dotted-border {
    border: 2px dotted red;
    width: 100px;
    height: 100px;
}

ol {
    list-style-type: lower-alpha;
}

ul {
    list-style-type: square;
}

.link {
    position: fixed;
    top: 10px;
    left: 25px;
}
